
/* No borders */
/* body {
    background-image: url(images/background.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
} */

/* helping with containers  */
/* * {
    border: 1px solid lime;
} */

 h1 {
     margin: 1rem;
 }

 .sky-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
 }

 .night-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 1;
    transition: opacity 2s ease-in-out;
 }

 .hidden-sky {
     opacity: 0;
 }


 /* positioning */

/* body of content position */
.main-body {
    text-align: center;
}

/* font styles */

.font-style {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-transform: uppercase;
    display: block;
}

.welcome {
    font-size: 3rem;
    border-bottom:  white solid 2px;
}

.instruction {
    font-size: 1rem;
}
/* sun */
.sun {
    position: absolute;
    left: 10%;
    z-index: 1;
}


/* sun hover */
.sun .sun-color {
    display: none;
    position: absolute;
    left: 0%;
}

.sun:hover .sun-color {
    display: inline;
}


/* chimney smoke */
.smoke-white {
    display: inline;
    position: absolute;
    right: 10%;
    width: 400px;
    background-color: grey;
}

.smoke1 {
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: blueviolet;
    display: inline-block;
    transform: translate(0%, 0%);
    z-index: 2;
}

.smoke2 {
    position: absolute;
    top: 0%;
    left: 50%;
    background-color:pink;
    display: inline-block;
    transform: translate(-50%, 20%);
}

.smoke3 {
    position: absolute;
    top: 0%;
    right: 0%;
    background-color:orange;
    display: inline-block;
    transform: translate(0%, 0%);
}

/* House elements container */

.h-width {
    width: 640px;
    margin: 0 auto;
}

.house {
    position: relative;
    background-image: url(images/housebase-white.svg);
    background-repeat: no-repeat;
    height: 700.5px;
   
}

.house:hover {
    background-image: url(images/housebase-color.svg);
}

/* house background */
.house-wrapper {
    position: absolute;
    width: 77.5%;
    height: 69%;
    bottom: 0%;
    left: 50%;
    /* background-color: orange; */
    transform: translate(-50%, 0%);
}

/* Text for when door is hovered over */

.door-text {
    /* display: none; */
    background: rgb(255, 255, 255, 0.5);
    position: absolute;
    left: -150px;
    width: 100px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}



/* hover for text */

.door:hover > .door-text {
    /* display: block; */
    opacity: 1;
    
   
}


/* Circular Winodw */
.circle {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
}

/* hovered */
.circle .circle-color {
    display: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.circle:hover .circle-color {
    display: inline;
}


/* Letter box */
.letterbox {
    position: absolute;
    bottom: 0;
    width: 80px;
    left: 0;
}

.gf-elements {
    position: absolute;
    width: 100%;
    height: 240px;
    bottom: 0%;
    left: 50%;
    /* background-color: blue; */
    transform: translate(-50%, 0%);
}

/* Door  */
.door {
    position: absolute;
    bottom: 0%;
    left: 0%;
    transform: translate(20%, 0%);
}

/* new image when door is hovered over */
.door .door-color {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
    transform: translate(0%, 0%);
}

.door:hover .door-color {
    display: inline;

}

/* keep image aligned with container */
.door>img {
    display: block;
}


/* Rectangular Window */
.window {
    position: absolute;
    top: 0%;
    right: 0%;
    transform: translate(-20%, 0%);
}

.window .window-color {
    display: none;
    position: absolute;
    top: 0%;
    right: 0%;
    transform: translate(0%, 0%);
}

.window:hover .window-color {
    display: inline;
}



/* Ground */

.ground-line {
    border-top:  white solid 8px;
    margin: 5px auto;
    width: 80%;
    z-index: 1;
}

.ground {
    position: relative;
    opacity: 0.5;
}

.ground .foundation-top {
    /* display: none; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    
}

.ground>img {
    transition: opacity 1s ease-in-out;
}

/* .ground:hover .foundation-top {
    display: inline;
    
} */

.ground>img.grass:hover {
    opacity: 0;
}



/* testing background
.test > img {
    width: 100%;
}

.daytime {
    transition: opacity 1s ease-in-out;
}

.daytime:hover {
    opacity: 0;
}

.nighttime {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
} */

