/* The main CSS has been created for mobile/portable device viewing, eveything within Media query is for desktop viewing */

/* helping with viewing containers  */
* {
    /* border: solid 1px green; */
}

/* removing the scroll bar along x-axis */
html, body {
    overflow-x: hidden;
    height: 100%;
    margin: auto;
    position: relative;
    text-align: center;
    transition: background-image 2s ease-in-out;
    background-repeat: no-repeat;
    background-size: cover;
}


/* background */
.hide-night {
    background-image: url("images/background.svg");
    background-color: #BBEEF3;
}

.hide-day {
    background-image: url("images/background-night.svg");
    background-color: #7E8F90;
}

/* Paragraph style */
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

 .hide-day p {
    color: #2D506D;

 }

 .hide-night p {
    color: #4F5859;
  
 }

 /* format for all paragrapn text boxes */
 .text-box {
    /* positioning */
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    width: 150px;
    max-height: 150px;
    transition: opacity 0.5s linear;
    z-index: 1;
 }

 @media (min-width: 768px) {
    .text-box { 
        max-height: none;
        transition: opacity 1s linear;
        overflow-y: unset;
        width: 150px;
        bottom: auto;
    }
 }

 /* text box styling */
 .hide-day .text-box-style {
    background-color: white;
    border: 3px solid #C1C9CA;
    padding: 5px;
    border-radius: 3px;
 }

 .hide-night .text-box-style {
    background-color: white;
    border: 3px solid #B7B7B7;
    padding: 5px;
    border-radius: 3px;
 }

 /* font style for h1 and h2 */
 .font-style {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    transition: 2s ease-in-out;
}

 .hide-night .font-style {
    color: #2D506D;
}

.hide-day .font-style {
    color: white;
}


/* underline for header test */
.hide-night .welcome {
    border-bottom:  #2D506D solid 2px;
}

.hide-day .welcome {
    border-bottom:  white solid 2px;
}

.welcome {
    display: inline;
    font-size: 1.5rem;
}

@media (min-width: 768px) {
    .welcome {
        font-size: 3rem;
    }
}


/* Sub-header text */
.instruction {
    font-size: 0.8rem;
    margin: 10px 20px;
}


/* Sky line */
.sky-line {
    display: block;
    /* Set area distance between Header text and house */
    height: 180px;
}

/* sun and moon */
.sun-moon {
    display: inline;
    position: relative;
    height: 118px;
    width: 118px;
    float: left;
    z-index: 1;
    left: 10%;
    top: 20%;
}

@media (min-width: 768px) {
    .sun-position {
        left: 100%;
    }
}

.sun-vis {
    position: absolute;
    background-image: url("images/sun-white.svg");
    height: 100%;
    width: 100%;
    transition: opacity 2s ease-in-out;
}

.moon {
    position: absolute;
    background-image: url("images/moon.svg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    transition: opacity 2s ease-in-out;
}


/* sun hover */
.sun-moon:hover .sun-vis {
    background-image: url("images/sun-color.svg");
}


/* chimney smoke */
.smoke {
    display: inline;
    width: 50%;
    float:right;
}

.smoke-hover {
    position: relative;
    background-image: url("images/smoke-white.svg");
    background-repeat: no-repeat;
    margin-bottom: 8px;
    height:70px;
    width: 107px;
    z-index: 1;
}

.smoke1, .smoke3 {
    margin-left: auto;
    margin-right: auto;
}

.smoke2 {
    margin-left: 40%;
    margin-right: auto;
}

@media (min-width: 768px) {
    .smoke1, .smoke3 {
        margin-left: 20%;
        margin-right: auto;
    }
    
    .smoke2 {
        margin-left: 30%;
        margin-right: auto;
    }
}

.links-logo {
    /* transition: opacity 1s linear; */
    position: absolute;
    height: 30px;
    bottom: 16px;
    left: 50%;
    transform: translate(-50%,0);
    opacity: 0.3;
}

.smoke-hover:hover {
    background-image: url("images/smoke-grey.svg");
}

.smoke-hover:hover .links-logo {
    opacity: 0.8;
}

/* House elements container */

/* width of house container */
.elements-width {
    min-width: 375px;
    max-width: 640px;
    margin: auto;
}

/* main background */
.house {
    position: relative;
    width: 90%;
    background-image: url(images/housebase-white.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    /* Indent the windows below roof */
    padding-top: 200px;
}


/* Circular Winodw */
.circle {
    margin: auto auto 30px auto;
    position: relative;
    width: 167px;
    height: 167px;
}

.circle-day {
    background-image: url("images/circularwindow-white.svg");
    height: 100%;
    width: 100%;
    transition: opacity 2s ease-in-out;
    position: absolute;
}

.circle-night {
    background-image: url("images/circularwindow-night.svg");
    height: 100%;
    width: 100%;
    transition: opacity 2s ease-in-out;
    position: absolute;
}

.circle-text {
    opacity: 0;
    right: 120px;
    bottom: 120px;
}

@media (min-width: 768px) {
    .circle-text {
        bottom: 100px;
        top: auto;
        left: 100px;
    }
}

/* hovered */

.circle:hover .circle-day {
    background-image: url("images/circularwindow-color.svg");
}

.circle:hover .circle-text,
.circle:hover .circle-night-text {
    opacity: 1;
}

/* Ground floor elements */

.gf-elements {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 11.3%;
    background-color: white;
}


@media (min-width: 768px) {
    .gf-elements {
        height: 300px;
        position: relative;
    } 
}

/* Rectangular Window */

/* Outer div sets the position of the window in y axis */
.window {
    position: relative;
    height: 147px;
    width: 192px;
    top: 19.5%;
    display: block;
    /* centered in parent div */
    margin: auto;
}

@media (min-width: 768px) {
    .window {
        position: absolute;
        top: 20%;
        display: inline;
        transform: none;
        left: 52%;
    }
}

.window-day {
    background-image: url("images/rectangularwindow-white.svg");
    position: absolute;
    height: 100%;
    width: 100%;
    transition: opacity 2s ease-in-out;
}
/* Centre position sets all elements in the x axis */
.center-position {
    position: absolute;
    left: 0;
 }

.window-text {
    left: 120px;
    bottom: 130px;
    opacity: 0;
}

@media (min-width: 768px) {
    .window-text {
        bottom: 100px;
        top: auto;
    }
}

.window-night {
    position: absolute;
    background-image: url("images/rectangularwindow-night.svg");
    width: 100%;
    height: 100%;
    transition: opacity 2s ease-in-out;
    z-index: 1;
}
.window-night-text {
    opacity: 0;
}
.window:hover .carousel {
    display: inline;
}

.window:hover .window-day {
    background-image: url("images/rectangularwindow-color.svg");
}

.window:hover .window-text,
.window:hover .window-night-text {
    opacity: 1;
}

/* image carousel */

.carousel {
    display:none;
    top: 8px;
    left: 50%;
    transform: translate(-50%,0);
    height: 120px;
    margin: auto;
    width: 160px;
    overflow: hidden;
    z-index: 1;
}
.caption {
    position: fixed;
    top: 0;
    padding-top: 10px;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: left;
    padding: 5px;
}

button {
    border: none;
    height: 100%;
    padding: 0;
    background: none;
}

button > img {
    width: 10px;
    height: auto;
}

button:focus {
    outline: none;
}

.dots {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index:2;
}

.dots div {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-image: url(images/dot.svg);
    background-repeat: no-repeat;
}

.dots .dot-active {
    background-image: url(images/dot-color.svg);
    background-repeat: no-repeat;
    transition: 0.5s linear;
}

/* play/pause buttons */
.play-pause {
    position: absolute;
    z-index: 2;
    bottom: 10px;
    width: 100%;
}


.play-hide {
    display: none;
}

/* arrows */
.left-arrow {
    position: absolute;
    height: 100%;
    width: 25px;
    left: 0;
    z-index: 2;
}

.right-arrow {
    position: absolute;
    height: 100%;
    width: 25px;
    right: 0;
    z-index: 2;
}

.right-arrow:hover {
    background-color: rgba(128, 128, 128, 0.2);
}

/* slides */
.slide {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: all 0.5s linear;
    margin: 0;
}

.slide img {
    max-width: 100%;
    height: auto;
}

/* position of next slide on the right */
.img-hidden {
    display: none;
}

.img-index {
    z-index: -1;
}

.img-right {
    left: 100%;
    }

/* position of active slide */
.img-active {
    left: 0;
    z-index: 1;
    }
 
/* position of next slide on the left */
.img-left {
    left: -100%;
    }


/* Door  */
.door {
    position: relative;
    margin: 30px auto auto auto;
    width: 167px;
    height: 240px;
    display: block;    
}

@media (min-width: 768px) {
    .door {
        position: absolute;
        left: 10%;
        /* bottom is to keep image algned with house */
        bottom: 0;
    }
}

/* new image when door is hovered over */
.door-day {
    position: absolute;
    background-image: url("images/door-white.svg");
    height: 100%;
    width: 100%;
    transition: opacity 2s ease-in-out;
}

.me-char {
    position: absolute;
    display: none;
    left:51px;
    bottom: 0%;
    /* test for sliding character */
    /* opacity: 0;
    transition: 0.5s linear;
    left: 150px; */
    
}

/* door at night time */
.door-night {
    transition: opacity 2s ease-in-out;
}

.door-night-text {
    opacity: 0;
}

.door:hover .door-day {
    background-image: url("images/door-color.svg");
}

.door-day:hover .me-char {
    display: inline-block;
}


 /* text position */
 .door-text {
    bottom:120px;
    right: 120px;
    opacity: 0;
}
.door-text span {
    font-style: italic;
}

@media (min-width: 768px) {
    .door-text {
        top: auto;
        bottom: 200px;
        left:-100px;
      
    }
}

.door-night {
    position: absolute;
    background-image: url("images/door-night.svg");
    width: 100%;
    height:100%;
    transition: opacity 2s ease-in-out;
}

.door:hover .door-text,
.door:hover .door-night-text {
    opacity: 1;
}
/* Ground */

.ground-line {
    border-top:  white solid 8px;
    margin: 5px auto;
    width: 100%;
    z-index: 1;
}

.ground {
    display: block;
    padding-bottom: 50px;
    width: 90%;
    background: transparent;
    transition: 2s linear;
    position: relative;
    margin: auto;
}

.ground-text {
    margin: 0px 50px;
    padding: 5px;
    opacity: 0;
    transition: opacity 0.5s linear;
    z-index: 1;
}

@media (min-width: 768px) {
    .ground-text {
        width: 80%;
        margin: auto;
    }
}

.ground:hover {
    background-image: url("images/foundation-white.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
}

.ground:hover .ground-text {
    opacity: 1;
}

/* Letter box */
.letterbox {
    position: absolute;
    background-image: url("images/letterbox-white.svg");
    height: 111px;
    width: 88px;
    bottom: 0px;
}

.hide-night .letterbox:hover {
    background-image: url("images/letterbox-color.svg"); 
}

.letterbox-text {
    top: 50px;
    bottom: auto;
    opacity: 0;
}

@media (min-width: 768px) {
    .letterbox-text {
        left: -50px;
    }
}

.letterbox:hover .letterbox-text {
    opacity: 1;
}


/* hidden night time elements */

.hide-night .background-night,
.hide-night .circle-night,
.hide-night .window-night,
.hide-night .door-night, 
.hide-night .moon {
    opacity: 0;
}

.hide-day .door-day,
.hide-day .circle-day,
.hide-day .window-day,
.hide-day .sun-vis {
    opacity: 0;
}

.hide-element {
    opacity: 0;
}

.hide-night .smoke-white {
    opacity: 1;
}